@import "../../../styles";

.goal {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .goal-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .goal-title {
      color: $primary-color;
      font-size: 16pt;
      font-weight: bold;
    }

    .goal-action-buttons {
      display: flex;
      gap: 10px;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }

      .goal-edit-button {
        width: 14pt;
      }

      .goal-edit-check-button {
        width: 14pt;
      }

      .goal-edit-cancel-button {
        width: 16pt;
      }

      .goal-delete-button {
        width: 12pt;
      }
    }
  }

  .progress-bar {
    width: 100%;
    height: 42px;
    background-color: $secondary-color;
    border-radius: 10px;

    .progress-bar-fill {
      background-color: $primary-color;
      height: 100%;
      border-radius: 10px;
    }
  }
}

input[type=text] {
  width: 80%;
  height: 42px;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 2px solid $accent-color;
  background-image: none;
  background-position: 0px 0px;
}
