@import "../../styles";

.rewards-content {
  display: grid;
  grid-template-rows: 0.25fr 0.5fr 2.5fr;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .titles {
    text-align: right;

    h1 {
      font-size: 16pt;
      margin: 0;
    }

    h2 {
      font-size: 14pt;
      margin: 0;
    }
  }
}

.rewards-title {
  color: $primary-color;
  font-size: 24pt;
  font-weight: bold;
  margin-top: 50px;
}

.rewards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-inline: 15px;
  height: 50%;
}
