@import "../../styles";

.signup-content {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr 1fr;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-data {
  background-image: url('../../assets/icons/user.svg') !important;
  background-position: 7px 7px !important;
}

.signup-action {
  width: 100%;
  text-align: center;

  button {
    margin-bottom: 20px;
  }
}

.signup-extra-actions {
  a {
    margin-left: 5px;
  }

  a:link, a:visited {
    color: $accent-color;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}
