@import "../../../styles";

.reward {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;

  img {
    position: relative;
    width: 37px;
    top: 27px;
  }

  span {
    position: relative;
    color: $accent-color-secondary;
    top: 70px;
  }
}

.circle {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: $primary-color;
  border-radius: 50%;
  display: inline-block;
}
