@import "../../styles";

.dashboard-content {
  display: grid;
  grid-template-rows: 0.25fr 0.5fr 3fr 0.5fr;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .titles {
    h1 {
      font-size: 16pt;
      margin: 0;
    }

    h2 {
      font-size: 14pt;
      margin: 0;
    }
  }
}

.welcome-text {
  color: $primary-color;
  font-size: 24pt;
  font-weight: bold;
}

.statistics-wrapper {
  display: grid;
  grid-template-rows: 1.25fr 1fr 1fr;
  gap: 20px;

  .statistic {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: $tertiary-color;
    border-radius: 10px;

    .statistic-title {
      color: $primary-color;
      font-size: 16pt;
      font-weight: bold;
    }

    .statistic-value {
      color: $title-color;
      font-size: 40pt;
      font-weight: bold;
    }
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 40%;
  }
}
